<ion-header>
  <ion-navbar>
    <ion-title *ngIf="cenario">{{cenario.titulo}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="cenario" [ngStyle]="{'background-image': 'url(' + cenario.pathImgCenario + ')', 'background-repeat':'no-repeat', 'background-position':'center'}">

  <div id="letras" *ngIf="letrasCenario" [dragula]="'bloco'" [dragulaModel]="letrasCenario" >
    <button class="letra" *ngFor="let letra of letrasCenario" detail-none>
      <img class="img-letra" [src]="letra.pathImgLetra"/>
    </button>
  </div>

  <div id="vagoes">
    <div [dragula]="'bloco'">

    </div>
  </div>


</ion-content>