.letra{
    max-height: 80px;
    max-width: 60px;
    margin: 18px 0;
    background: transparent;
}
button{
    .img-letra{
        max-height: inherit;
        max-width: inherit;
    }

    .correto{
        border: 0px
    }
    .selecionado{
        border: 5px solid red
    }
}
#vagoes{
    background-color: blue;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 90px;
}
#letras{
    margin: 10px auto 0 30px;
}