.letra{
    max-height: 80px;
    max-width: 60px;
    margin: 18px 0;
    background: transparent;
}
button{
    .img-letra{
        max-height: inherit;
        max-width: inherit;
    }

    .correto{
        border: 0px
    }
    .selecionado{
        border: 5px solid red
    }
}
#vagoes{
    background-image: url('../../../assets/imagens/vagao-trenzinho-pi.png');
	background-size: 80px 60px;
    position: absolute;
	margin-left: 150px;
    bottom: 0px;
    width: 48%;
    height: 60px;
}
#letras{
    margin: 60px auto 0 30px;
}