
<ion-content padding [ngStyle]="{'background-image': 'url(assets/img/logo.png)', 'background-repeat':'no-repeat', 'background-position':'center', 'background-size': '398px',
    'background-position-y': '45px'}">

  <h1 [ngStyle]="{'position': 'absolute', 'margin-left': '28%', 'top': '10px', 'color':'steelblue'}">Parabéns!! <small>Você conseguiu!</small></h1>

  
  
  <p [ngStyle]="{'position': 'absolute', 'top': '25%'}">
    <b>Desenvolvedores:</b> <br/>
    Alexandre Henrique, <br/>
    Ian Macedo,<br/>
    Matheus Morais<br/>
  </p>
  <p [ngStyle]="{'position': 'absolute', 'top': '50%'}">
    <b>Artes:</b> <br/>
    Gabriel Borges, <br/>
    Kennedy Santos<br/>
  </p>
</ion-content>